html{
    background: rgb(rgb(193, 172, 210), green, blue);
}
article{
    margin-left: 25%;
}
h1{
    color: purple
}
img{
    width: 100px;
    display: block;
    margin: auto;
}
table{
    width: 500px;
    border: 10px dotted;
    background-color: pink;
}
h2{
    background-color: red;
    border-width: 200px;
}
th{
    background-color: rgb(202, 117, 195);
}